extends layout

block content
	div.controls
		div#users
	div#snap

	//- h1 #{title} Users
	//- div#users
	//- div
	//- 	div#conversation
	//- 	input#data
	//- 	input#datasend(type='button', value='send')